/*! Anthor:Simon */
html {
  background-image: linear-gradient(180deg, #e9e9e9 0%, #ccc0b3 100%); }

body {
  overflow: hidden;
  min-height: 100vh;
  cursor: url("https://tomotoes.com/images/blog/default.cur"), auto !important; }

img,
a {
  cursor: url("https://tomotoes.com/images/blog/pointer.cur"), auto !important; }

.fade {
  opacity: 0;
  transition: all 1s;
  -webkit-transform: translateY(200px);
          transform: translateY(200px); }

.fade.in {
  opacity: 1;
  -webkit-transform: none;
          transform: none; }

header {
  display: block;
  margin: 0 auto;
  width: 100%;
  text-align: center;
  font-family: Arial; }
  header h1 {
    color: #776e65;
    font-family: 'Comic Sans MS', 'Helvetica Neue', 'Microsoft Yahei', 'Microsoft Yahei', -apple-system, sans-serif;
    text-shadow: 0 0 2px #fafafa;
    margin: 0 auto -10px;
    letter-spacing: 2px; }
  header p {
    display: inline-block;
    font-size: 18px;
    padding: 5px;
    border-radius: 5px;
    box-shadow: inset 0px 1px 20px 0px #8f7a66;
    text-shadow: 0 0 2px #ccc;
    background: #bbada0;
    color: #fff; }
  header #score {
    color: #f6f6f6;
    font-weight: bold;
    text-shadow: 3px 1px 3px #bec1c4; }
  header #maxscore {
    color: #f6f6f6;
    font-weight: bold;
    text-shadow: 3px 1px 3px #bec1c4; }
  @media screen and (max-width: 800px) {
    header {
      margin: 60px auto 15px; } }

#grid-container {
  width: 460px;
  height: 460px;
  padding: 20px;
  margin: 0 auto;
  background-color: #bbada0;
  border-radius: 10px;
  position: relative;
  box-shadow: 0px 1px 20px 0px #8f7a66; }
  #grid-container .grid-cell {
    width: 100px;
    height: 100px;
    border-radius: 6px;
    background-color: #ccc0b3;
    position: absolute; }
  #grid-container .number-cell {
    z-index: 999;
    border-radius: 6px;
    font-weight: bold;
    font-size: 40px;
    line-height: 100px;
    text-align: center;
    position: absolute; }

@-webkit-keyframes pop {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1); }
  50% {
    -webkit-transform: scale(1.2);
            transform: scale(1.2); }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1); } }

@keyframes pop {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1); }
  50% {
    -webkit-transform: scale(1.2);
            transform: scale(1.2); }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1); } }

.cell-merged {
  -webkit-animation: pop 200ms ease 100ms;
          animation: pop 200ms ease 100ms; }

#newGameBtn {
  display: block;
  margin: 10px auto 10px;
  width: 180px;
  cursor: url("https://tomotoes.com/images/blog/pointer.cur"), auto !important; }
  @media screen and (max-width: 800px) {
    #newGameBtn {
      margin: 20px auto 10px; } }

.counter {
  display: inline-block;
  margin-bottom: -10px; }
  .counter span {
    position: relative;
    display: inline-block;
    width: 30px;
    height: 30px;
    line-height: 44px;
    overflow: hidden; }
    .counter span i {
      position: absolute;
      top: 0;
      left: 0px;
      display: inline-block;
      height: 100%;
      width: 100%;
      font-style: normal;
      transition: top 0.3s; }
    .counter span.n0 i:nth-child(1) {
      top: calc(0 * 110%); }
    .counter span.n0 i:nth-child(2) {
      top: calc(-1 * 110%); }
    .counter span.n0 i:nth-child(3) {
      top: calc(-2 * 110%); }
    .counter span.n0 i:nth-child(4) {
      top: calc(-3 * 110%); }
    .counter span.n0 i:nth-child(5) {
      top: calc(-4 * 110%); }
    .counter span.n0 i:nth-child(6) {
      top: calc(-5 * 110%); }
    .counter span.n0 i:nth-child(7) {
      top: calc(-6 * 110%); }
    .counter span.n0 i:nth-child(8) {
      top: calc(-7 * 110%); }
    .counter span.n0 i:nth-child(9) {
      top: calc(-8 * 110%); }
    .counter span.n0 i:nth-child(10) {
      top: calc(-9 * 110%); }
    .counter span.n1 i:nth-child(1) {
      top: calc(1 * 110%); }
    .counter span.n1 i:nth-child(2) {
      top: calc(0 * 110%); }
    .counter span.n1 i:nth-child(3) {
      top: calc(-1 * 110%); }
    .counter span.n1 i:nth-child(4) {
      top: calc(-2 * 110%); }
    .counter span.n1 i:nth-child(5) {
      top: calc(-3 * 110%); }
    .counter span.n1 i:nth-child(6) {
      top: calc(-4 * 110%); }
    .counter span.n1 i:nth-child(7) {
      top: calc(-5 * 110%); }
    .counter span.n1 i:nth-child(8) {
      top: calc(-6 * 110%); }
    .counter span.n1 i:nth-child(9) {
      top: calc(-7 * 110%); }
    .counter span.n1 i:nth-child(10) {
      top: calc(-8 * 110%); }
    .counter span.n2 i:nth-child(1) {
      top: calc(2 * 110%); }
    .counter span.n2 i:nth-child(2) {
      top: calc(1 * 110%); }
    .counter span.n2 i:nth-child(3) {
      top: calc(0 * 110%); }
    .counter span.n2 i:nth-child(4) {
      top: calc(-1 * 110%); }
    .counter span.n2 i:nth-child(5) {
      top: calc(-2 * 110%); }
    .counter span.n2 i:nth-child(6) {
      top: calc(-3 * 110%); }
    .counter span.n2 i:nth-child(7) {
      top: calc(-4 * 110%); }
    .counter span.n2 i:nth-child(8) {
      top: calc(-5 * 110%); }
    .counter span.n2 i:nth-child(9) {
      top: calc(-6 * 110%); }
    .counter span.n2 i:nth-child(10) {
      top: calc(-7 * 110%); }
    .counter span.n3 i:nth-child(1) {
      top: calc(3 * 110%); }
    .counter span.n3 i:nth-child(2) {
      top: calc(2 * 110%); }
    .counter span.n3 i:nth-child(3) {
      top: calc(1 * 110%); }
    .counter span.n3 i:nth-child(4) {
      top: calc(0 * 110%); }
    .counter span.n3 i:nth-child(5) {
      top: calc(-1 * 110%); }
    .counter span.n3 i:nth-child(6) {
      top: calc(-2 * 110%); }
    .counter span.n3 i:nth-child(7) {
      top: calc(-3 * 110%); }
    .counter span.n3 i:nth-child(8) {
      top: calc(-4 * 110%); }
    .counter span.n3 i:nth-child(9) {
      top: calc(-5 * 110%); }
    .counter span.n3 i:nth-child(10) {
      top: calc(-6 * 110%); }
    .counter span.n4 i:nth-child(1) {
      top: calc(4 * 110%); }
    .counter span.n4 i:nth-child(2) {
      top: calc(3 * 110%); }
    .counter span.n4 i:nth-child(3) {
      top: calc(2 * 110%); }
    .counter span.n4 i:nth-child(4) {
      top: calc(1 * 110%); }
    .counter span.n4 i:nth-child(5) {
      top: calc(0 * 110%); }
    .counter span.n4 i:nth-child(6) {
      top: calc(-1 * 110%); }
    .counter span.n4 i:nth-child(7) {
      top: calc(-2 * 110%); }
    .counter span.n4 i:nth-child(8) {
      top: calc(-3 * 110%); }
    .counter span.n4 i:nth-child(9) {
      top: calc(-4 * 110%); }
    .counter span.n4 i:nth-child(10) {
      top: calc(-5 * 110%); }
    .counter span.n5 i:nth-child(1) {
      top: calc(5 * 110%); }
    .counter span.n5 i:nth-child(2) {
      top: calc(4 * 110%); }
    .counter span.n5 i:nth-child(3) {
      top: calc(3 * 110%); }
    .counter span.n5 i:nth-child(4) {
      top: calc(2 * 110%); }
    .counter span.n5 i:nth-child(5) {
      top: calc(1 * 110%); }
    .counter span.n5 i:nth-child(6) {
      top: calc(0 * 110%); }
    .counter span.n5 i:nth-child(7) {
      top: calc(-1 * 110%); }
    .counter span.n5 i:nth-child(8) {
      top: calc(-2 * 110%); }
    .counter span.n5 i:nth-child(9) {
      top: calc(-3 * 110%); }
    .counter span.n5 i:nth-child(10) {
      top: calc(-4 * 110%); }
    .counter span.n6 i:nth-child(1) {
      top: calc(6 * 110%); }
    .counter span.n6 i:nth-child(2) {
      top: calc(5 * 110%); }
    .counter span.n6 i:nth-child(3) {
      top: calc(4 * 110%); }
    .counter span.n6 i:nth-child(4) {
      top: calc(3 * 110%); }
    .counter span.n6 i:nth-child(5) {
      top: calc(2 * 110%); }
    .counter span.n6 i:nth-child(6) {
      top: calc(1 * 110%); }
    .counter span.n6 i:nth-child(7) {
      top: calc(0 * 110%); }
    .counter span.n6 i:nth-child(8) {
      top: calc(-1 * 110%); }
    .counter span.n6 i:nth-child(9) {
      top: calc(-2 * 110%); }
    .counter span.n6 i:nth-child(10) {
      top: calc(-3 * 110%); }
    .counter span.n7 i:nth-child(1) {
      top: calc(7 * 110%); }
    .counter span.n7 i:nth-child(2) {
      top: calc(6 * 110%); }
    .counter span.n7 i:nth-child(3) {
      top: calc(5 * 110%); }
    .counter span.n7 i:nth-child(4) {
      top: calc(4 * 110%); }
    .counter span.n7 i:nth-child(5) {
      top: calc(3 * 110%); }
    .counter span.n7 i:nth-child(6) {
      top: calc(2 * 110%); }
    .counter span.n7 i:nth-child(7) {
      top: calc(1 * 110%); }
    .counter span.n7 i:nth-child(8) {
      top: calc(0 * 110%); }
    .counter span.n7 i:nth-child(9) {
      top: calc(-1 * 110%); }
    .counter span.n7 i:nth-child(10) {
      top: calc(-2 * 110%); }
    .counter span.n8 i:nth-child(1) {
      top: calc(8 * 110%); }
    .counter span.n8 i:nth-child(2) {
      top: calc(7 * 110%); }
    .counter span.n8 i:nth-child(3) {
      top: calc(6 * 110%); }
    .counter span.n8 i:nth-child(4) {
      top: calc(5 * 110%); }
    .counter span.n8 i:nth-child(5) {
      top: calc(4 * 110%); }
    .counter span.n8 i:nth-child(6) {
      top: calc(3 * 110%); }
    .counter span.n8 i:nth-child(7) {
      top: calc(2 * 110%); }
    .counter span.n8 i:nth-child(8) {
      top: calc(1 * 110%); }
    .counter span.n8 i:nth-child(9) {
      top: calc(0 * 110%); }
    .counter span.n8 i:nth-child(10) {
      top: calc(-1 * 110%); }
    .counter span.n9 i:nth-child(1) {
      top: calc(9 * 110%); }
    .counter span.n9 i:nth-child(2) {
      top: calc(8 * 110%); }
    .counter span.n9 i:nth-child(3) {
      top: calc(7 * 110%); }
    .counter span.n9 i:nth-child(4) {
      top: calc(6 * 110%); }
    .counter span.n9 i:nth-child(5) {
      top: calc(5 * 110%); }
    .counter span.n9 i:nth-child(6) {
      top: calc(4 * 110%); }
    .counter span.n9 i:nth-child(7) {
      top: calc(3 * 110%); }
    .counter span.n9 i:nth-child(8) {
      top: calc(2 * 110%); }
    .counter span.n9 i:nth-child(9) {
      top: calc(1 * 110%); }
    .counter span.n9 i:nth-child(10) {
      top: calc(0 * 110%); }

.button {
  color: #666;
  background-color: #eee;
  border-color: #eee;
  text-decoration: none;
  text-align: center;
  line-height: 40px;
  height: 40px;
  padding: 0 40px;
  margin: 0;
  display: inline-block;
  border: none;
  box-sizing: border-box;
  transition-property: all;
  transition-duration: 0.3s;
  font-size: 18px;
  font-weight: bold;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  letter-spacing: 3px; }
  .button:visited {
    color: #666; }
  .button:hover, .button:focus {
    background-color: #f6f6f6;
    text-decoration: none;
    outline: none; }
  .button:active, .button.active, .button.is-active {
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.3);
    text-decoration: none;
    background-color: #eeeeee;
    border-color: #cfcfcf;
    color: #d4d4d4;
    transition-duration: 0s;
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.2); }
  .button.disabled, .button.is-disabled, .button:disabled {
    top: 0 !important;
    background: #eee !important;
    border: 1px solid #ddd !important;
    text-shadow: 0 1px 1px white !important;
    color: #ccc !important;
    box-shadow: none !important;
    opacity: 0.8 !important; }
  .button-primary {
    background-color: #bbada0;
    border-color: #bbada0;
    color: #fff; }
    .button-primary:visited {
      color: #fff; }
    .button-primary:hover, .button-primary:focus {
      background-color: #bbada0;
      border-color: #bbada0;
      color: #fff; }
    .button-primary:active, .button-primary.active, .button-primary.is-active {
      background-color: #8f7a66;
      border-color: #8f7a66;
      color: #8f7a66; }
  .button-rounded {
    border-radius: 4px; }
  .button-3d {
    position: relative;
    top: 0;
    box-shadow: 0 7px 0 #bbbbbb, 0 8px 3px rgba(0, 0, 0, 0.2); }
    .button-3d:hover, .button-3d:focus {
      box-shadow: 0 7px 0 #bbbbbb, 0 8px 3px rgba(0, 0, 0, 0.2); }
    .button-3d:active, .button-3d.active, .button-3d.is-active {
      top: 5px;
      transition-property: all;
      transition-duration: 0.15s;
      box-shadow: 0 2px 0 #bbbbbb, 0 3px 3px rgba(0, 0, 0, 0.2); }
    .button-3d.button-primary {
      box-shadow: 0 7px 0 #8f7a66, 0 8px 3px rgba(0, 0, 0, 0.3); }
    .button-3d.button-primary:hover, .button-3d.button-primary:focus {
      box-shadow: 0 7px 0 #8f7a66, 0 8px 3px rgba(0, 0, 0, 0.3); }
    .button-3d.button-primary:active, .button-3d.button-primary.active, .button-3d.button-primary.is-active {
      box-shadow: 0 2px 0 #8f7a66, 0 3px 3px rgba(0, 0, 0, 0.2); }

.button-border.button-primary,
.button-primary.button-border-thin,
.button-primary.button-border-thick,
.button-border-thin.button-primary,
.button-border-thick.button-primary {
  color: #bbada0; }

.button-border.button-primary:hover,
.button-primary.button-border-thin:hover,
.button-primary.button-border-thick:hover,
.button-border.button-primary:focus,
.button-primary.button-border-thin:focus,
.button-primary.button-border-thick:focus,
.button-border-thin.button-primary:hover,
.button-border-thin.button-primary:focus,
.button-border-thick.button-primary:hover,
.button-border-thick.button-primary:focus {
  background-color: #bbada0;
  color: rgba(255, 255, 255, 0.9); }

.button-border.button-primary:active,
.button-primary.button-border-thin:active,
.button-primary.button-border-thick:active,
.button-border.button-primary.active,
.button-primary.active.button-border-thin,
.button-primary.active.button-border-thick,
.button-border.button-primary.is-active,
.button-primary.is-active.button-border-thin,
.button-primary.is-active.button-border-thick,
.button-border-thin.button-primary:active,
.button-border-thin.button-primary.active,
.button-border-thin.button-primary.is-active,
.button-border-thick.button-primary:active,
.button-border-thick.button-primary.active,
.button-border-thick.button-primary.is-active {
  background-color: #bbada0;
  color: rgba(255, 255, 255, 0.5);
  opacity: 0.3; }

@media screen and (max-width: 1200px) {
  #githubFork {
    display: none; } }
